@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Borel&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Borel&family=Cedarville+Cursive&family=Dancing+Script:wght@400..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Abel&family=Bakbak+One&family=Borel&family=Cedarville+Cursive&family=Dancing+Script:wght@400..700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.default-background {
  background: linear-gradient(
    -45deg,
    var(--slate-300),
    var(--slate-700),
    var(--slate-500),
    black
  );
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

.blue-background {
  background: linear-gradient(
    -45deg,
    var(--sky-500),
    var(--sky-800),
    var(--sky-600),
    black
  );
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

body {
  height: 100%;
  width: 100%;

  color: white;

  --sky-300: #7dd3fc;
  --sky-400: #38bdf8;
  --sky-500: #0ea5e9;
  --sky-600: #0284c7;
  --sky-700: #0369a1;
  --sky-800: #0369a1;
  --amber-200: #fde68a;
  --amber-300: #fcd34d;
  --amber-500: #f59e0b;
  --amber-600: #d97706;

  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;

  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-size: 2.1rem;
  text-align: center;
  font-family: "Cedarville Cursive", cursive;
}

header {
  padding: 1rem;
}

header,
footer,
.forecast-card,
.weather-card,
.weather-stats-container {
  background-color: rgb(255, 255, 255, 0.2);
}

footer {
  font-size: 1rem;
  display: grid;
  place-items: center;
  gap: 0.3rem;
  padding: 1rem;
}

footer a {
  color: var(--amber-600);
}

.form-fields {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: ". search-area toggle";
  justify-content: center;
  align-content: center;
  gap: 0.5rem;
  background-color: white;
}

.form-fields > div {
  grid-area: toggle;
  justify-self: end;
}

input {
  background-color: rgba(255, 255, 255, 0.6);
  color: var(--amber-500);
  border: 1px solid var(--amber-600);
  margin-bottom: 5px;
  text-align: center;
}
input,
button {
  padding: 0.3rem 1rem 0.3rem 1rem;
  font-family: "Abel", sans-serif;

  font-weight: bold;
}

button {
  border: 1px solid var(--amber-600);
  position: relative;
  background-color: var(--amber-600);
  color: white;
  outline: none;
  border: none;
  height: min-content;
}

input::placeholder {
  color: var(--amber-500);
}

.error {
  font-size: 0.9rem;
  color: var(--amber-500);
  text-align: center;
  color: var(--slate-900);
  text-decoration: underline;
}

#search-area {
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  grid-area: search-area;
}

/* Toggle button styles. */
.toggle {
  --width: 60px;
  --height: calc(var(--width) / 2);

  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: var(--height);
  cursor: pointer;
}

.toggle input {
  display: none;
}

.toggle .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--height);
  background-color: var(--amber-600);
  transition: all 0.4s ease-in-out;
}

.toggle .slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--height));
  height: calc(var(--height));
  border-radius: calc(var(--height) / 2);
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked + .slider {
  background-color: var(--slate-700);
}

.toggle input:checked + .slider::before {
  transform: translateX(calc(var(--width) - var(--height)));
}

.toggle .labels {
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-family: sans-serif;
  transition: all 0.4s ease-in-out;
}

.toggle .labels::after {
  content: attr(data-C);
  position: absolute;
  right: 10px;
  top: -1px;
  color: white;
  opacity: 1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
  content: attr(data-F);
  position: absolute;
  left: 10px;
  top: -1px;
  color: #ffffff;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.toggle input:checked ~ .labels::after {
  opacity: 0;
}

.toggle input:checked ~ .labels::before {
  opacity: 1;
}

.app-container {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.weather-container {
  padding: 0rem 1rem 1rem 1rem;
  border: 1px solid green;
  display: flex;
  justify-content: space-between;
  align-items: start;

  flex-wrap: wrap;
  gap: 1rem;
}

.weather-card {
  flex-basis: max(50%, 300px);
  border-right: 3px solid white;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 1rem;
  padding-right: 4rem;
}

.weather-icon {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  padding: -10px;
}

.temp {
  font-size: 3rem;
}

.current-weather-heading {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.forecast-container {
  border: 1px solid orange;
  padding: 0rem 1rem 0rem 1rem;
  display: flex;
  flex-direction: column;
}

.forecast-days-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));

  gap: 1rem;
  height: max-content;
}

.forecast-header {
  margin-bottom: 0.8rem;
}

.forecast-header,
h2 {
  text-transform: uppercase;
  font-weight: bold;
}
.forecast-card {
  display: grid;
  place-items: center;
  padding: 1rem;
}

.local-time span {
  color: var(--amber-600);
}
.local-time {
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 0.8rem;
  padding-right: 1rem;
}

.weather-stats-container {
  padding: 1rem 1rem 0.5rem 1.5rem;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  flex-basis: max(15%, 300px);
}

.max-temp {
  margin-top: 3px;
}
.max-temp,
.min-temp {
  background-color: white;
  border-radius: 10px;
  color: var(--slate-700);
  flex: 1;
  padding: 0.5rem;
  width: 80%;
}

img {
  filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.5));
  filter: contrast(4) brightness(100%) grayscale(100%);
}
