@import url("https://fonts.googleapis.com/css2?family=Abel&family=Bakbak+One&family=Borel&family=Cedarville+Cursive&family=Dancing+Script:wght@400..700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;

  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;

  color: white;

  --amber-50: #fffbeb;
  --amber-100: #fef3c7;
  --amber-500: #f59e0b;
  --amber-600: #d97706;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
  --transparent: rgb(255, 255, 255, 0.2);
}

/* Background themes:
1. Default: default
2. Sunny: weather condition = "Sunny"
3. Night: isNightTime = true;
*/
.default-theme {
  background: linear-gradient(
    -45deg,
    var(--slate-300),
    var(--slate-700),
    var(--slate-500),
    black
  );
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

.night-theme {
  background: linear-gradient(-45deg, #151965, #070f2b, #2d3250, #1b1a55);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}

.sunny-theme {
  background: linear-gradient(-45deg, #0369a1, #0369a1, #38bdf8, black);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*Header styles. */

header {
  padding: 1rem;
}

h1 {
  font-size: 2.1rem;
  text-align: center;
  font-family: "Cedarville Cursive", cursive;
}

/*Nav bar styles. */

.nav-bar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: ". search-area toggle";
  justify-content: center;
  align-content: center;
  gap: 0.5rem;
  background-color: white;
  padding: 0.6rem;
}

.toggle-switch {
  grid-area: toggle;
  justify-self: end;
}

input[type="text"] {
  background-color: var(--amber-50);
  color: var(--amber-600);
  border: 1px solid var(--amber-600);
  text-align: center;
}

input[type="text"]:focus,
input[type="text"]:hover {
  background-color: var(--amber-100);
  border: 1px solid var(--slate-400);
  outline: none;
}

input[type="text"]::placeholder {
  color: var(--amber-600);
}

input[type="text"],
button {
  padding: 0.3rem 1rem 0.3rem 1rem;
  font-family: "Abel", sans-serif;
  font-weight: bold;
}

button {
  background-color: var(--amber-600);
  color: white;
  outline: none;
  border: none;
  height: min-content;
}

button:focus,
button:hover {
  background-color: var(--amber-500);
}

.error {
  margin-top: 5px;
  font-size: 0.9rem;
  text-align: center;
  color: var(--slate-900);
  text-decoration: underline;
}

#search-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  grid-area: search-area;
}

/* Toggle button styles. */

.toggle {
  --width: 60px;
  --height: calc(var(--width) / 2);
  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: var(--height);
  cursor: pointer;
}

.toggle input {
  display: none;
}

.toggle .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--height);
  background-color: var(--amber-600);
  transition: all 0.4s ease-in-out;
}

.toggle .slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--height));
  height: calc(var(--height));
  border-radius: calc(var(--height) / 2);
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked + .slider {
  background-color: var(--slate-700);
}

.toggle input:checked + .slider::before {
  transform: translateX(calc(var(--width) - var(--height)));
}

.toggle .labels {
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-family: sans-serif;
  transition: all 0.4s ease-in-out;
}

.toggle .labels::after {
  content: attr(data-C);
  position: absolute;
  right: 10px;
  top: -1px;
  color: white;
  opacity: 1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
  content: attr(data-F);
  position: absolute;
  left: 10px;
  top: -1px;
  color: #ffffff;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.toggle input:checked ~ .labels::after {
  opacity: 0;
}

.toggle input:checked ~ .labels::before {
  opacity: 1;
}

/* Main container styles. */

.main-container {
  padding-top: 5rem;
  padding-bottom: 2rem;
}

/* Primary weather container */

.weather-container {
  padding: 0rem 1rem 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  gap: 1rem;
}

.weather-card {
  display: flex;
  flex-direction: column;
  flex-basis: max(48%, 300px);
  border-right: 3px solid white;
  gap: 0.5rem;
  padding: 1rem 4rem 1.5rem 1rem;
}

.current-weather-heading {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.weather-icon {
  width: 75px;
  height: 75px;
  margin-right: 5px;
}

.temp {
  font-size: 3rem;
}

/* Secondary weather container. */

.weather-stats-container {
  padding: 1rem 1rem 0.5rem 1.2rem;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  flex-basis: 300px;
}

.local-time {
  padding: 0.1rem 0.8rem 0.1rem 0.4rem;
  border-radius: 5px;
}

.wind {
  padding-top: 0.8rem;
}

.max-temp {
  margin-top: 3px;
}
.max-temp,
.min-temp {
  background-color: white;
  border-radius: 5px;
  color: var(--slate-700);
  flex: 1;
  padding: 0.5rem;
  width: 90%;
}

/*Forecast styles. */

.forecast-container {
  padding: 0rem 1rem 0rem 1rem;
  display: flex;
  flex-direction: column;
}

.forecast-header {
  margin-bottom: 0.8rem;
}

.forecast-days-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 1rem;
}

.forecast-card {
  display: grid;
  place-items: center;
  padding: 1rem;
}

/* Icon styles. */

img {
  filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.5));
  filter: contrast(4) brightness(100%) grayscale(100%);
}

/* Footer styles. */

footer {
  font-size: 1rem;
  display: grid;
  place-items: center;
  gap: 0.3rem;
  padding: 1rem;
}

footer a {
  font-weight: bold;
  color: white;
}

/*Shared styles. */

header,
footer,
.forecast-card,
.weather-card,
.weather-stats-container,
.local-time {
  background-color: var(--transparent);
}

.forecast-header,
h2,
.local-time {
  text-transform: uppercase;
  font-weight: bold;
}

/*Media queries for smaller screens. */

@media only screen and (max-width: 665px) {
  .weather-card,
  .weather-stats-container {
    flex-basis: 100%;
  }

  .main-container {
    padding-top: 2rem;
  }

  .weather-card {
    padding-right: 0;
  }
}
